.main_bg {
	background: #438eb9;
}
.login_title {
	font-size: 28px;
	color:#fff;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	padding:80px 0 20px 0;
	text-align: center;
}
.green {
	color:#69aa46 !important;
}
.login_body {
	height:300px;
	margin:0 auto;
	background: #ECEAEA;
	border-radius: 6px;
	padding:20px;
}
.form-control {
	border:1px solid #337ab7;
}
img {
	cursor:pointer;
	border:1px solid #337ab7;
}
.btn-primary {
	width: 100%;
}
.dialog {
	min-width: 220px;
	height: 40px;
	position: absolute;
	top:0;
	left:0;
	box-shadow: 1px 2px 2px #000;
	margin:10px;
	text-indent: 30px;
	letter-spacing: 2px;
	border:3px solid #ECEAEA;
	border-radius: 6px;
	background: #d9534f;
	color:#fff;
	border:1px solid #d43f3a;
	text-indent: 15px;
	line-height: 40px;
	display: none;
}