<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>已收到你的表單</title>
</head>

<body>

<table border="1" width="1104" height="350" style="border-width: 0px">
	<tr>
		<td height="111" width="192" style="border-left-style: none; border-left-width: medium; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">　</td>
		<td height="111" width="857" style="border-top-style: solid; border-top-width: 1px; border-bottom-style: solid; border-bottom-width: 1px">　</td>
		<td height="111" width="37" style="border-left-style: solid; border-left-width: 1px; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">　</td>
	</tr>
	<tr>
		<td height="233" width="192" style="border-left-style: none; border-left-width: medium; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">　</td>
		<td height="233" width="857" style="border-top-style: solid; border-top-width: 1px; border-bottom-style: solid; border-bottom-width: 1px" bgcolor="#FFFBEC">
		<p style="line-height: 150%; margin-top: 2px">
		<font style="font-size: 20pt; font-weight: 700" color="#0000FF">
		已收到你的訂購表單，請記下你的付款金額為</font><font style="font-size: 20pt; font-weight: 700" color="#FF0000">{$price}</font><font style="font-size: 20pt; font-weight: 700" color="#0000FF">元。</font><font size="5"><br>
		<br>
		1. 選擇郵局寄送者，請利用<font color="#FF0000">歐付寶</font>支付保障你的交易安全，提供ATM、線上ATM、信用卡付款等方式~<br>
　</font><p style="line-height: 150%; margin-top: 2px">
		<font style="font-size: 18pt">
		<b><font color="#FF0000">注意事項：</font></b></font><font size="5"><br>
		</font><font color="#FF0000" size="4">
		※付款頁面的資料填寫，此訂單的收件人姓名，需與付款頁面的收件人姓名一致，才能對帳。<br>
		※選擇ATM付款者，系統將自動產生專屬的付款帳號，繳款期限為3天，如超過結團時間則請勿在匯款。</font><font size="5"><br>
		<br>
		歐付寶付款頁面</font><font style="font-size: 18pt">&#9658;&#9658;<a href="https://p.allpay.com.tw/fGjHO" target="_blank"><img src="https://payment.allpay.com.tw/Content/themes/WebStyle201404/images/allpay.png" /></a>
		</font><font size="5"><br>
		<br>
		2. 全家取貨付款者，請保持手機暢通，到貨時會簡訊通知，取貨時付款即可。</font><font size="4"><br>
		※請務必於到貨7天內至您所選擇的門市取貨。<br>
		※若逾期未領，貨品將直接退還給賣家，並且會在您的「超商未取貨次數」累計一次。 </font>
		<p style="line-height: 150%; margin-top: 2px">
		　</td>
		<td height="233" width="37" style="border-left-style: solid; border-left-width: 1px; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">　</td>
	</tr>
</table>

</body>

</html>
