<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="女神衣衫為嚴選平價好穿的運動內衣和運動褲等,提供愛好運動的妳選購、團購,快為自己挑選動力加分的戰胞,一起自信穿.自在動～ http://goddess13.com">
    <meta name="Keywords" content="運動內衣,運動褲,運動套裝,運動短褲,壓縮褲">
    <title>女神衣衫Goddess13</title>
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link href="__CSS__/index.css" rel="stylesheet">
</head>
<body>
<div class="container">
        {$content|html_entity_decode}
</body>
</html>